<!DOCTYPE html>
<html lang="en">

<head>
  <link href="base.css" rel="stylesheet" type="text/css" />
  <link href="layout.css" rel="stylesheet" type="text/css" />
  <link href="modules.css" rel="stylesheet" type="text/css" />
  <title>Book App</title>
</head>

<body>
  <main>
    <h1>My Book Collection</h1>

    <section>
      <% myBooks.forEach(book => {%>
      <!--  addBook route will be where we append  -on a post method -->
      <form action='/' method='post'></form>
      <div>
        <span><%= book.title %></span>
        <span><%= book.author %></span>
        <span><%= book.description %></span>
        <span><%= book.image_url %></span>
      </div>
      </form>
      <% }) %>
    </section>
  </main>
</body>

</html>